﻿@model IEnumerable<MvcApplication3.Models.Kategori>
@{
    Layout = null;
    }
<div class="widget categories">
                                <h5>Kategoriler</h5>
                                <ul>
                                    @foreach(var kat in Model)
                                    {
                                        <li><a href="/Home/Index/@kat.Id">@kat.Adi (@kat.Etkinliks.Count)</a></li>
                                    }
                                    
                                </ul>
                            </div>