﻿@{
    Layout = null;
    }

<div class="widget posts">
                                <h5>Etkinlikler</h5>
                                <div class="widget-tabs">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#popular" data-toggle="tab">Popüler</a></li>
                                        <li><span>/</span></li>
                                        <li><a href="#fresh" data-toggle="tab">En Yeniler</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="popular">
                                            <ul>

                                                @{
                                                    MvcApplication3.Models.Etkinlik e = new MvcApplication3.Models.Etkinlik();
                                                  }
                                                @foreach (var pop in ViewBag.Populer)
                                                { 
                                                
                                                
                                                <li>
                                                    <figure>
                                                        <a href="/Etkinlik/Detay/@pop.Id">
                                                            <img src="@pop.Resim.KucukResimYol" alt=""/>
                                                        </a>
                                                    </figure>
                                                    <div class="text">
                                                        <a href="/Etkinlik/Detay/@pop.Id">@pop.Baslik</a>
                                                        <a href="/Kategori/Index/@pop.KategoriID" class="category">{ @pop.Kategori.Adi }</a>
                                                    </div>
                                                </li>
                                                }
                                            </ul>
                                        </div>

                                        <div class="tab-pane" id="fresh">
                                            <ul>

                                                @foreach (var son in ViewBag.Fresh)
                                                { 
                                                    
                                                <li>
                                                    <figure>
                                                        <a href="/Etkinlik/Detay/@son.Id">
                                                            <img src="@son.Resim.KucukResimYol" alt=""/>
                                                        </a>
                                                    </figure>
                                                    <div class="text">
                                                        <a href="/Etkinlik/Detay/@son.Id">@son.Baslik</a>
                                                        <a href="/Kategori/Index/@son.KategoriID" class="category">{ @son.Kategori.Adi }</a>
                                                    </div>
                                                </li>
                                                }  
                                                                                                                                                                                                                                     
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>