﻿@{
    Layout = null;
}
@model IEnumerable<MvcApplication3.Models.Etiket>


                            <div class="widget blog-tags">
                                <h5>Etiketler</h5>
                                <ul>
                                    @foreach (var item in Model)
                                    { 
                                        
                                    <li><a href="/Home/Index/@item.Id" class="btn btn-default">@item.Adi (@item.Etkinliks.Count)</a></li>     
                                                                      
                                    }
                                    
                                </ul>
                            </div>   
