﻿
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Etkinlik.com.tr</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="/Content/content/rsz_logoetkinlik.png">

        <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
        <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
        <link rel="stylesheet" href="/Content/css/typicons.css">
        <link rel="stylesheet" href="/Content/css/flexslider.css">
        <link rel="stylesheet" href="/Content/css/jquery.selectBoxIt.css">
        <link rel="stylesheet" href="/Content/css/jquery.fancybox.css">
        <link rel="stylesheet" href="/Content/css/main.css">
        <script src="/Content/js/vendor/jquery-1.10.1.min.js"></script>
        <script src="/Content/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script>

            //Ajax ile beğen butonuna basılınca beğenme sayısını artırma ..
            $(document).ready(function () {
                $("a.begen").click(function(){
                    var id = $(this).data("id");
                    var link = "/Etkinlik/Begen/" + id;
                    var a = $(this);
                    $.ajax({

                        type: "GET",
                        url: link,
                        success: function (result) {
                            a.html("Beğen("+result+")");
                        }
                    });           
                });
            });
           
        </script>
    </head>
    <body>
        <header class="navbar navbar-default hidden-menu hidden-menu-up">
            <div class="container">
                <div class="row">
                    <div class="navbar-header col-sm-3">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="menu-title">Menu</span>
                            
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul class="social-icons nav navbar-nav">
                            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/?lang=tr"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://tr.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-9">
                        <div class="navbar-collapse collapse">
                           @if (ViewBag.Tip == null || ViewBag.Tip == 0)  //  Giriş Yapılmamamış kullanıcılar için form kontrolü:
                           {  
                            <ul class="nav navbar-nav navbar-right">
                              
                                <li> @Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null) </li>
                                <li>@Html.ActionLink("Türkçe", "ChangeCulture", "Home", new { lang = "tr", returnUrl = this.Request.RawUrl }, null) </li>
                                <li><a href="/Home/Index"><span class="glyphicon glyphicon-home"></span> Anasayfa</a></li>
                                <li><a href="/Kullanici/KayitOl"><span class="glyphicon glyphicon-user"></span> Kayıt Ol</a></li>
                                <li><a href="/Kullanici/GirisYap"><span class="glyphicon glyphicon-log-in"></span> Giriş Yap</a></li>
                              
                            </ul>
                           }
                           
                            else   //Giriş Yapıldıktan sonrası için form Kontrolü yapıldı :
                            {
                           <ul class="nav navbar-nav navbar-right">
                               <li>                               
                                    <a href="/Yonetim/Index"><span class="glyphicon glyphicon-home"></span> Anasayfa</a>
                                </li>
                               
                                <li class="dropdown">
                                    <a href="#" id="navbarDrop1" class="dropdown-toggle" data-toggle="dropdown">ETKİNLİKLER</a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDrop1">
                                        <li><a href="/Yonetim/EtkinlikYaz">Yeni Etkinlik</a></li>
                                        <li><a href="/Yonetim/Index">Etkinlik detay</a></li>
                                        
                                    </ul>
                                </li>
								
								<li class="dropdown">
                                    <a href="javascript:void(0)" id="navbarDrop4" class="dropdown-toggle" data-toggle="dropdown">KATEGORİLER</a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDrop4">				
										<li><a href="/Yonetim/Kategori">Kategori Düzenle</a></li>
                                        <li><a href="/Yonetim/KategoriEkle">Kategori Ekle</a></li>
                                    </ul>
                                </li>
                                
                                <li><a href="/Home/Index"><span class="glyphicon glyphicon-log-out"></span>Çıkış Yap</a></li>
                            </ul>
                           }
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <header class="main-header hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo">
                            <figure>
                                <a href="/Home/Index"><img src="/Content/content/logo2.png" alt="Logo"/></a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-8 text-right">
                        <a href="#" class="menu-button">Menüler <i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </div>
        </header>
  
        @RenderSection("Title", false)

        
        <section class="main-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="posts">

                            @RenderBody()

                        </div>
                    </div>
                    <aside class="col-sm-4">
                        <div class="widgets">

                            @RenderSection("RightTop",false)


                            @{
                                Html.RenderAction("CategoryWidgetGetir", "Home");
                                Html.RenderAction("PostsWidgetGetir","Home");
                                Html.RenderAction("TagsWidgetGetir","Home");

                             }
                            
                            
                            @RenderSection("RightBottom",false)
                                              
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <footer class="main-footer">

            <div class="footer-social">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                 <li><a href="https://twitter.com/?lang=tr"><i class="fa fa-twitter"></i></a></li>
                                 <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                 <li><a href="https://tr.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-newsletter">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 left">
                            <h2><strong>Abone</strong> olmak için:</h2>
                            <p>En güncel ve sana en yakın etkinlikleri öğrenmek için tek yapman gereken e-mail adresinle Aboneliğimize kayıt yaptırmak..</p>
                        </div>
                        <div class="col-sm-4 right">
                            <form action="#">
                                <div class="input-group">
                                    <input type="email" class="form-control" name="newsletter-email" placeholder="E-mail Adresiniz:">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="submit"><i class="fa fa-check"></i></button>
                                </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>     
          </footer>
        <div class="go-top">
            <i class="fa fa-angle-up"></i>
        </div>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="/Content/js/vendor/bootstrap.min.js"></script>
        <script src="/Content/js/vendor/jquery.isotope.min.js"></script>
        <script src="/Content/js/vendor/jquery.isotope.perfectmasonry.js"></script>
        <script src="/Content/js/vendor/jquery.raty.min.js"></script>
        <script src="/Content/js/vendor/jquery.flexslider.js"></script>
        <script src="/Content/js/vendor/jquery.mousewheel.js"></script>
        <script src="/Content/js/vendor/jquery.mCustomScrollbar.js"></script>
        <script src="/Content/js/vendor/jquery.hoverdir.js"></script>
        <script src="/Content/js/vendor/jquery.selectBoxIt.min.js"></script>
        <script src="/Content/js/vendor/jquery.fancybox.pack.js"></script>
        <script src="/Content/js/main.js"></script>
    </body>
</html>
