﻿@{
    
    Layout = null;
}

@model IEnumerable<MvcApplication3.Models.Etkinlik>

@helper Kisalt(string metin)
{
    if (metin.Length > 300)
    {
        <p>@metin.Substring(0, 300);</p>
    }
    else
    {
        <p>@metin</p>
    }
}

@foreach(var etkinlik in Model)
{
   
    <article class="blog-post">
        <header>
            <h2>
                <a href="/Etkinlik/Detay/@etkinlik.Id">

                    @etkinlik.Baslik
</a>
                                    </h2>
                                    <ul class="info">
                                        <li><a href="/Kategori/Index/@etkinlik.KategoriID">{ @etkinlik.Kategori.Adi }</a></li>
                                        <li><a href="/Etkinlik/TariheGoreListe?
                                            yil=@etkinlik.YayimTarih.Year&ay=@etkinlik.YayimTarih.Month">{ @etkinlik.YayimTarih.ToString("MMMM yyyy") }</a></li>
                                        <li><a href="/Yazar/Index/@etkinlik.YazarID">{ @etkinlik.Kullanici.Adi @etkinlik.Kullanici.Soyadi }</a></li>
                                        <li>{ Yorumlar: <a href="#">@etkinlik.Yorums.Count</a> }</li>

                                        <li>{<a href="javascript:void(0)" class="begen" data-Id="@etkinlik.Id"> Beğen (@etkinlik.Begeni) </a>  }</li><br />
                                        <li>{Görüntülenme : @etkinlik.Goruntulenme}</li>

                                    </ul>
                                </header>
                                <div class="content">
                                    <figure>
                                        <a href="/Etkinlik/Detay/@etkinlik.Id">
                                            <img src="@etkinlik.Resim.OrtaResimYol" alt=""/>
                                        </a>
                                    </figure>
                                    <div class="text">
                                        @{
                                            Kisalt(etkinlik.Icerik);
                                            }
                                    </div>
                                    <a href="/Etkinlik/Detay/@etkinlik.Id" class="btn btn-default">Devamı.</a>
                                </div>
                            </article>
    
}