﻿@{
    ViewBag.Title = "EtkinlikYaz";
}

<h2>Yeni Etkinlik Oluştur</h2>
<div class="tabs-top">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#top-tab1" data-toggle="tab">Metin</a></li>
                                <li><a href="#top-tab2" data-toggle="tab">Resim</a></li>
                                
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="top-tab1">
@using (Html.BeginForm("EtkinlikYaz", "Yonetim", FormMethod.Post, new { enctype="multipart/form-data" }))
{ 
    <table>
        <tr>
            <td>Başlık</td>
            <td>
                <input class="form-control" type="text" name="Baslik" value="" placeholder="Başlık giriniz" />
            </td>
        </tr>
        <tr>
            <td>Kategori</td>
            <td>
                <select class="form-control" name="KategoriID">
                    @foreach (var kategori in ViewBag.Kategoriler)
                    { 
                    <option  value="@kategori.Id">
                        @kategori.Adi
                    </option>
                    }

                </select>
            </td>
        </tr>
        <tr>
            <td>Etiketler</td>
            <td><input class="form-control" type="text" name="etiketler" value="" /></td>

        </tr>
        <tr> 
            <td>Resim</td>
            <td>
                <input class="form-control" type="file" name="Resim" value="" />
            </td>

        </tr>
        <tr>
            <td>İçerik</td>
            <td><textarea class="form-control" name="Icerik" placeholder="etkinlik içerigini giriniz" cols="20" rows="10">


                </textarea>


            </td>           
        </tr>
        <tr>
            <td></td>
            <td>
                <input class="form-control" type="submit" name="btnEkle" value="Kaydet" />

            </td>

        </tr>
    </table>



}
                                </div>
                                <div class="tab-pane" id="top-tab2">

                                    Galeri
                                </div>
                                
                            </div>
                        </div>















