﻿@{
    ViewBag.Title = "Index";
}
@model IEnumerable<MvcApplication3.Models.Etkinlik>
<h2>Etkinlikler</h2>

<table class="table">
    <tr>
        <th>Başlık</th>
        <th>Yazar</th>
        <th>Kategori</th>
        <th>Yayım Tarihi</th>

        <th></th>
     </tr>
    @foreach (var item in Model)
    {
      <tr>
        <td>@item.Baslik</td>
        <td>@item.Kullanici.Adi @item.Kullanici.Soyadi</td>
        <td>@item.Kategori.Adi</td>  
        <td>@item.YayimTarih</td>
        <td></td> 
      </tr>
    }
    

</table>






