﻿@model IEnumerable<MvcApplication3.Models.Kategori>

@{
    ViewBag.Title = "Kategori";
}

<h2>Kategori</h2>

<p>
    @Html.ActionLink("Yeni Kategori Eklemek için Tıklayın..", "KategoriEkle")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "KategoriDuzenle", new { id=item.Id }) |
            
            @Html.ActionLink("Sil", "KategoriSil", new { id=item.Id })
        </td>
    </tr>
}

</table>
