﻿@model MvcApplication3.Models.Kategori

@{
    ViewBag.Title = "KategoriDuzenle";
}

<h2>Kategori Düzenle</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        
        <legend>Kategori</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor">
            @Html.LabelFor(model => model.Adi)
        </div>
        <div class="editor">
            @Html.EditorFor(model => model.Adi)
            @Html.ValidationMessageFor(model => model.Adi)
        </div>

        <p>
            <input type="submit" value="Kaydet" />
        </p>
    </fieldset>
    
}

<div>
    @Html.ActionLink("Listeye Dön", "Kategori")
</div>
