﻿@model MvcApplication3.Models.Kategori

@{
    ViewBag.Title = "KategoriEkle";
}

<h2>KategoriEkle</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Kategori Ekle</legend>

        <div class="editor-label">
           Kategori Adı:<br />
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Adi)
            @Html.ValidationMessageFor(model => model.Adi)
        </div>

        <p>
            <input class="btn btn-success" type="submit" value="Kaydet" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Listeye Dön", "Kategori")
</div>


