﻿@{
    ViewBag.Title = "GirisYap";
}

<h2>GirisYap</h2>

@using (Html.BeginForm())
{ 
    <table>
        <tr>
            <td colspan="2">
                @ViewBag.Mesaj

            </td>
        </tr>
        <tr>
        <td>Kullanıcı Adı:</td>
        <td>
            <input class="form-control" type="text" name="kullaniciAdi" value="" placeholder="kullanıcı adı giriniz" required /></td>
    </tr>
     <tr>
        <td>Parola</td>
        <td>
            <input class="form-control" type="password" name="Parola" value="" placeholder="parola giriniz" required /></td>
    </tr>
         <tr>
        <td></td>
        <td>
            <input class="btn btn-primary" type="submit" name="btnGiris" value="Giriş"  /></td>
             
    </tr>
               
      <tr>
          <td></td>
        <td><input type="checkbox"> Beni Hatırla</td>     
        </tr>
    </table>

}